<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="ProvaEntityDbTestContext" />
  </appSettings>
  
  <!--Data Source=localhost\SQLEXPRESS-->
    
  <connectionStrings>
    <add name="ProvaEntityDbTestContext" 
         connectionString="Data Source=ndd-desk-tes028; 
                           Initial Catalog=ProvaEntity; 
                           Integrated Security=True; 
                           MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>